/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2021, 9:07:00 PM
    Author     : WebDiP_08
*/

/*DIO S PHP-OM*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2021, 12:13:58 PM
    Author     : WebDiP_08
*/


@media only screen and (min-width: 364px) and (max-width: 1400px){
    .rodendan{
        width: 100%;
        color: #948f8e;
        text-decoration: none;
        font-family: Times New Roman;
        align-self: center;
    }

    .rodendan:hover{
        background-color: #2b2928;
        color: #948f8e;
    }

    nav > ul li {
        width: 100%;
        background-color: #1c1b1b;
        color: #948f8e;
    }
    .navigacijaLi >  a {
        display: block;
        text-align: center;
        background-color: #fccc8f;
        color: #333;
        font-family: Times New Roman;
    }

    .navigacijaLi > a:hover{
        background-color: black;
        color: #ccc;
    }

    tr:hover{
        background-color: #93af85;
    }

    tr, th, td{
        font-family: Times New Roman;
    }

    caption{
        font-family: Times New Roman;
    }

    .tablicaMedia{
        border: thin #fccc8f solid;
    }

    /*AUTOR*/
    .autor{
        font-family: Times New Roman;
    }

    /*GALERIJA*/
    .naslovUSadrzaju{
        color: #333;
        font-family: Times New Roman;
    }

    div{
        font-family: Times New Roman;
    }

    .podnozje{
        background-color: #1c1b1b;
        color: #948f8e;
        font-family: Times New Roman;
    }
}

body{
    background-color: #2b2928;
    font-family: Arial;
}

/*NAVIGACIJSKA TRAKA*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #595655;
    color: #333;
}

h1 > a{
    color: #948f8e;
    text-decoration: none;
    font-size: 80px;
}

h1 > a:hover{
    text-decoration: none;
    background-color: #2b2928;
    color: #948f8e;
}

p{
    color: #1c1b1b;
}

/*OPCENITO STRANICE*/


.slikaPocetna{
    width: 42px;
    height: 42px;
    display: inline-block;
    float: right;
    padding: 2px;
}


footer{
    background-color: #948f8e;
    text-align: center;
}

.tekst {
    font-style: italic;
}

#sadrzaj{
    color:black;
}

a:hover {
    color: #e4333c;
    background: #eaeaea;
}


/*PRIJAVA*/

.polozajPrijava{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.obrubPrijava{
    width: 500px;
    height: 300px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #595655, 0 6px 20px 0 #595655;
}

.prijavaForma{
    margin: 10px;
    padding: 30px;
}

.formaInput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    background-color: #333;
    border: none;
    border-bottom: 2px solid #ccc;
}

.gumbPrijava{
    background-color: #333;
    color: #ccc;
    border: none;
    padding: 10px;
    width: 70px;
    margin-top: 20px;
    float: right;
    margin: 7px;
    border-radius: 6px;
}

/*OBRAZAC*/

label{
    color: black;
}

.polozajObrazac{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.obrubObrazac{
    background-color: #333;
    color: #ccc;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #f1f1f1;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 20px;
}

.obrazacForma{
    margin: 10px;
    padding: 30px;
}

.gumb{
    background-color: #595655;
    color: #ccc;
    border: none;
    padding: 10px;
    width: 70px;
    margin-top: 20px;
    float: right;
    margin: 7px;
    border-radius: 6px;
}

#pravokutnik{
    border:1px solid #d3d3d3; 
    background-color: white; 
    position: absolute;
}
#pravokutnik2{
    border:1px solid #d3d3d3; 
    background-color: white; 
    position: absolute;
}
#pravokutnik3{
    border:1px solid #d3d3d3; 
    background-color: white; 
    position: absolute;
}
#pravokutnik4{
    border:1px solid #d3d3d3; 
    background-color: white; 
    position: absolute;
}


/*REGISTRACIJA*/

label{
    color: #ccc;
}

.polozajRegistracija{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.obrubRegistracija{
    width: 500px;
    height: 1380px;
    background-color: #f2f2f2;
    margin: 20px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #f1f1f1;
    border-collapse: collapse;
    border-radius: 10px;
}

.registracijaForma{
    margin: 10px;
    padding: 30px;
}

.mjesto{
    border: #333 2px solid;
    background-color: white;
    border-radius: 6px;
    font-family: Arial;
    font-size: 15px;
}

.gumbReg{
    background-color: #333;
    color: #ccc;
    border: none;
    padding: 10px;
    width: 80px;
    margin-top: 20px;
    float: right;
    margin: 7px;
    text-align: center;
    border-radius: 6px;
}


/*INDEX*/

.naslovTablice{
    font-size: 60px;
    color: #93af85;
}

.tablica{
    overflow-x: auto;
    overflow-y: auto;
}

table{
    border-collapse: collapse;
    width: 100%;
    border: thin #2b2928 solid;
}

table:hover{
    border: 5px #2b2928 solid;
}

th{
    background-color: #333;
    color: #ccc;
    border: none;
} 

tr, td{
    border: thin #2b2928 solid;
}

tr:nth-child(even){
    background-color: #ccc;
}

tr:hover{
    background-color: #fccc8f;
}

th, td{
    text-align: center;
    padding: 5px;
}


.glavnaSlikaPocetna{
    width: 100%;
}


/*GALERIJA*/
.SveSlike{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.slike{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

figure{
    border: 3px #ccc solid;
    border-radius: 8px;
    width: 260px;
    height: 230px;
    margin: 50px;
}

figcaption {
    background-color: #93af85;
    color: #333;
    padding: 2px;
    text-align: center;
    width: 100%;
    align-items: flex-end;
}

h2, h3, h4, h5{
    color: #948f8e;
    font-size: 50px;
}

.gumbSlike
{
    background-color: #333;
    color: #ccc;
    border: none;
    padding: 10px;
    width: 100px;
    margin: 7px;
    border-radius: 6px;
}

/*NAVIGACIJSKI DIJAGRAM*/

.dijagram{
    width: 200px; 
    height: 200px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
}

/*DIO S PHP-OM*/

.greskaUnosa{
    color: red;
}

.gumbic{
    background-color: #333;
    color: #ccc;
    border: none;
    padding: 7px;
    width: 70px;
    margin: 7px;
    border-radius: 6px;
    justify-content: center;
}


/*STATISTIKA*/
.statistika{
    background-color: #ccc;
    width: 100%;
}

.podaciStatistike{
    margin: 30px;
    padding: 30px;
    color: #333;
}

.gumbPrikazi{
    background-color: #333;
    color: #ccc;
    border: none;
    padding: 10px;
    width: 70px;
    margin: 7px;
    border-radius: 6px;
}

/*CAPTCHA*/

.vanjskiDio {
    background: white;
    border: #333 2px solid;
    border-width: 2px 2px 2px 20px;
    display: inline-block;
    padding: 5px 8px 5px 8px;
    border-radius: 8px;
}

.captchaUnutar {
    font: bold 15px arial;
    color: #333;
    background: transparent;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

#captchaBroj {
    color: #333;
    font: normal 25px Impact, arial;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    display: inline-block;
    padding: 3px 14px 3px 8px;
    margin-right: 4px;
    border-radius: 4px;
}

/*AUTOR*/

.autor{
    width: 100%;
    font-size: 19px;
    font-family: Arial;
    line-height: 30px;
    color: #948f8e;
}

.tekstObrazac{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: 20%;
    background-color: #383636;
}

.tekstObrazac2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 20%;
    background-color: #383636;
}

.tekstObrazac3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 20%;
    background-color: #383636;
}

.autorPodloga{
    width: 100%;
    height: 100%;
    background-color: #242222;
}
